/* Some Sega styling resourced from https://codepen.io/manz/pen/mdqeXoB */
@font-face {
  font-family: "NiseMegadriveEU";
  src:
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-megadrive-eu.woff2") format("woff2"),
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-megadrive-eu.woff") format("woff"),
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-megadrive-eu.ttf") format("truetype");
}

@font-face {
  font-family: "NiseSegaNet";
  src:
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-sega-net.woff2") format("woff2"),
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-sega-net.woff") format("woff"),
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-sega-net.ttf") format("truetype");
}

@font-face {
  font-family: "NiseSega";
  src:
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-sega.woff2") format("woff2"),
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-sega.woff") format("woff"),
    url("https://manzdev.github.io/twitch-megadrive-genesis/fonts/nise-sega.ttf") format("truetype");
}

html, body {
  height: 100%;
}

body {
  background: #000;
	background-image:
    radial-gradient(ellipse, #0000 20%, #0004 40%, #000 65%),
    repeating-linear-gradient(to bottom, transparent 0 75px, #555 75px 76px),
    repeating-linear-gradient(to right, transparent 0 75px, #555 75px 76px),
    radial-gradient(ellipse 500px 600px at 50% 60%, #143071, transparent),
    radial-gradient(circle 300px at 40% 40%, #8e1765, transparent);
	color: white;
	font-family: NiseSegaNet;
}

h1 {
	font-size: 60px;
	font-weight: normal;
	text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;
	flex-direction: column;
}
.container > div {
	max-width: 600px;
	width: 100%;
	text-align: center;
}

/* FONTS */
.sega {
	font-family: NiseSega;
  color: white;
}
.eu {
  font-family: NiseMegadriveEU;
  color: white;
}
.net {
  font-family: NiseSegaNet;
  color: white;
}

.center {
	text-align: center;
}
.btn {
	background-color: rgba(0, 0, 0, 0.5);
	border:1px solid white;
	padding: 6px 12px;
	margin: 20px;
	font-family: NiseSegaNet;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
input[type="file"] {
  display: none;
}
#upload {
	display: none;
}

.custom-file-upload {
  display: inline-block;
}

#filenames {
	display: none;
	border: 1px solid white;
	padding: 10px;
	font-size: 14px;
	line-height: 25px;
	font-family: monospace, sans-serif;
}

#waveformContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#waveformContainer .item {
	display: flex;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.waveformItem {
	width: 80%;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: move;
}


.control-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-color: transparent transparent transparent #fff;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 15px 30px;
	cursor: pointer;
	margin: 20px;
}
.control-button.paused {
  border-style: double;
  border-width: 0px 0 0px 60px;
}
.waveformPlay:hover {
  border-color: transparent transparent transparent #404040;
}



.waveformStop {
  border-style: solid;
  border-width: 15px;
  border-color: #fff;
	cursor: pointer;
}
.waveformStop:hover {
	border-color: #404040;
}


.dragging {
	opacity: 0.5;
}
#combineButton {
	margin: 20px auto;
}
#combinedAudio {
	margin: 0 auto 50px;
}